@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}