@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}